.Articles .Articles_header {
  background: linear-gradient(
    to bottom,
    rgb(255, 255, 255) 65%,
    rgba(255, 255, 255, 0)
  );
  padding: 10px 10px 50px 10px;
  justify-content: space-between;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.Articles_header .rigth_header {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.Articles .logout_button {
  background-color: transparent;
  color: gray;
  border: none;
  margin-right: 10px;
  padding: 0;
}

.Articles .logout_button:hover {
  background-color: transparent;
  color: rgb(184, 184, 184);
  border: none;
  margin-right: 10px 10px;
  padding: 0;
  cursor: pointer;
}

.Articles {
  background: linear-gradient(
    to bottom,
    rgb(255, 255, 255),
    rgb(205, 230, 255),
    rgb(205, 230, 255)
  );
}

a {
  text-decoration: none;
  color: inherit;
}

.Articles .body {
  display: grid;
  grid-template-columns: 3fr 2fr;
  justify-content: space-between;
  position: relative;
}

.Articles .posts {
  margin-top: 80px; 
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-start;
  
}

@media (max-width: 1100px) {
  .Articles .posts {
    grid-template-columns: repeat(1, 1fr); /* Cambia a una sola columna cuando el ancho es <= 768px */
  }
}

@media (max-width: 750px) {
  .Articles .body {
    grid-template-columns: repeat(1, 1fr); /* Cambia a una sola columna cuando el ancho es <= 768px */
  }

  .Articles_Imagebrand {
    display: none;
  }
}


.upload {
  max-width: 400px;
  margin: auto;
  margin-top: 90px ;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;

  position: sticky; /* Cambiamos la posición a sticky */
  top: 90px; /* Posicionamos en la parte superior del contenedor principal */
  left: 20px; /* Ajusta según tus necesidades */
}

.upload h2 {
  text-align: center;
  color: #333;
}

.upload form {
  display: flex;
  flex-direction: column;
}

.upload label {
  margin-top: 10px;
  font-weight: bold;
}

.upload input,
.upload textarea {
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.upload button {
  background-color: rgb(121, 188, 255);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.upload button:hover {
  background-color: rgb(85, 144, 203);
}

.footer-basic {
  padding:20px 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgb(255, 255, 255) 10%
  );
  color:#4b4c4d;
}

.footer-basic footer{
  display: flex;
  justify-content: space-between;
}

.list-inline {
  margin: auto 0px;
}

.list-inline-item a {
  text-decoration: none;
  color: inherit;
  font-size: 11px; /* Cambia el tamaño de la fuente a 11px */
  opacity: 0.8;
}

ul {
  margin-bottom: 0px;
}


.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:0px;
  display: flex;
  margin-right: 20px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:auto 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
  
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}


.footer-basic h5 {
  margin: auto;
  margin-right: 10px;
  text-align:center;
  color: #aaa;
}

#perfilDropdown {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 8px;
  font-size: 14px;
  cursor: pointer;
  color: #6b7988;
  background-color: #ffffff00;
  border: 1px solid rgba(0, 123, 255, 0);
  border-radius: 4px;
  position: relative;
}

#perfilDropdown option {
  background-color: #f4f4f4;
  color: #333;
}

#perfilDropdown option:hover {
  background-color: #ddd;
}

#perfilDropdown option:focus {
  outline: none;
}

#perfilDropdown:focus {
  outline: none;
  border-color: #0056b3;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

#perfilDropdown:hover {
  color: #0056b3;
  background-color: #f9f9f9;
}

@media (max-width: 750px) {
  .footer-basic .social {
    display: none;
  }

  .footer-basic .list-inline {
    display: none;
  }

  .footer-basic .copyright {
    text-align: center;
    margin: auto;
  }
}